.accordion {
    width: 100%;
    background-color: #eee;
    color: #444;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-header {
    padding: 1rem;
    background-color: #f5f5f5;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    background-color: #e5e7eb;
}

.accordion-header::before {
    content: "\25BC"; /* Unicode for down arrow */
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.accordion-header.active::before {
    transform: rotate(180deg);
    content: "\25B2"; /* Unicode for up arrow */
}

.accordion-content {
    padding: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-item.active .accordion-content {
    max-height: 200px; /* Adjust as needed */
}
.accordion-content p {
    margin: 0;
}
